<div>
<div class="footer">
  <div class="footer-grid">
      <div class="footer-grid-item">
          <div class="footer-grid-item1-line"></div>
          <div class="footer-grid-title">
              اپلیکیشن های موبایل
          </div>
          <img src="../../assets/pic/google-play-dark.png">
          <img src="../../assets/pic/sib-app-dark.png">
          <img src="../../assets/pic/cafebazaar-dark.png">
      </div>
      <div class="footer-grid-item">
          <div class="footer-grid-item2-line"></div>
          <div class="footer-grid-title">
              پشتیبانی ریحون
          </div>
          <div class="footer-grid-content">
              سوالات متداول
          </div>
          <div class="footer-grid-content">
              تماس با پشیبانی
          </div>
          <div class="footer-grid-content">
              قوانین و مقررات
          </div>
      </div>
      <div class="footer-grid-item">
          <div class="footer-grid-item3-line"></div>
          <div class="footer-grid-title">
              رستوران‌ها
          </div>
          <div class="footer-grid-content">
              ثبت رستوران
          </div>
      </div>
      <div class="footer-grid-item">
          <div class="footer-grid-item4-line"></div>
          <div class="footer-grid-title">
              تماس با ریحون
          </div>
          <div class="footer-grid-content">
              درباره ریحون
          </div>
          <div class="footer-grid-content">
              وبلاگ ریحون
          </div>
          <div class="footer-grid-content">
              تماس با ما
          </div>
      </div>
      <div class="footer-grid-item5">
          <div class="footer-grid5-content">
              مراقبت و محافظت از حساب کاربری و رمزعبور هر کاربر بر عهده کاربر است. ریحون سریعترین راه سفارش آنلاین غذا است. منوی عکس‌دار رستوران‌های اطرافتان را بر اساس مکان خود به راحتی مشاهده کنید و سفارش دهید.
          <br/>
          <br/>
          <a href="#">
              لیست رستوران ها
          </a>
          </div>
      </div>
  </div>
  <img src="../../assets/pic/9e91a300.png">
</div>

  <div class="footer-foot">
    <i class="fa fa-google"></i>
    <i class="fa fa-instagram"></i>
    <i class="fa fa-twitter"></i>
    <i class="fa fa-facebook-f"></i>
    <i class="fa fa-telegram"></i>
    <div>
        © 2017, Reyhoon, All Rights Reserved.
    </div>
  </div>
</div>
