<div class="row my-container justify-content-md-center">
  <div class="col-md-12 img-holder">
    <img src="../../assets/pic/restaurantData.jpg" alt="" class="restaurant-banner">
  </div>
  <div class="col-md-12 justify-content-md-center cover-container row">
    <div class="restaurant-cover col-md-8  ">
      <div class="row centerizer justify-content-md-center">
        <div class="centerizer col-md-8">
          <img class="restaurant-icon" src="assets/pic/pizzahot.jpg">
        </div>
      </div>
      <div class="col-md-12 title-restaurant">
        {{ restaurantName }}
      </div>
      <div class="ratings-rate col-md-12">
        <div class="rating-rate-number"> {{ average_rate }}</div>
          <ngb-rating [(rate)]="average_rate" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
          <ng-template #t let-fill="fill">
            <span class="star" [class.full]="fill === 100">
              <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
            </span>
          </ng-template>
      </div>
      <div class="categories col-md-12">
        {{ categories }}
      </div>
      <div class="address col-md-12">
        {{ address }}
      </div>
    </div>
  </div>
  <div class="col-md-12 justify-content-md-center cover-container tabs-container row">
    <div class="col-md-8 justify-content-md-center cover-container tabs">
          <ul class="row justify-content-md-center" style="width: 100%; padding-left: 0px;">
            <li class="col-md-4 atags">
              <a class="active" href="#">نظرات کاربران</a>
            </li>
            <li class="col-md-4 atags">
              <a  href="#">اطلاعات رستوران</a>
            </li>
            <li class="col-md-4 atags">
              <a href='#foodstart'>منوی رستوران</a>
            </li>
          </ul>
    </div>
  </div>

  <div class="col-md-12 justify-content-md-center cover-container row">
    <div class="col-md-8  ">
      <input placeholder="جستجو در منوی این رستوران"/>
    </div>
  </div>

  <div class="col-md-12 justify-content-md-center cover-container row">
    <div class="col-md-8  ">
      <div *ngFor="let food of data.foods" class="row padder justify-content-md-center">
        <div class="col-md-12 title" id='foodstart'>
          {{ food.foodSet.food_set }}
        </div>
          <div *ngFor="let foodset of food.foods" class="col-md-6 food-card">
              <div class="food-container">
                <div class="food-header">
                    <div class="price"> {{foodset.price}} هزار تومان</div>
                    <div class="name">{{foodset.name}}</div>
                </div>
                <div class="food-body row">
                  <div class="col-md-12 food-desc">
                    <div class="two-line-des">
                      {{foodset.description}}
                    </div>
                    <div class="buy-btn">
                      <button>افزودن به سبد خرید<i class="fa fa-plus icon-plus"></i></button>
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
    </div>
  </div>

  <div class="col-md-12 justify-content-md-center cover-container row">
    <div class="col-md-8">
      <div class="row padder justify-content-md-center">
        <div class="col-md-12 title" id='foodstart'>
          اطلاعات رستوران
        </div>
        <div class="divider col-md-12">
        </div>
        <div class="col-md-4 map-holder">
          <img class="mapimg" src="../../assets/pic/map.png" alt="">
        </div>
        <div class="col-md-8">
            <div class="title col-md-12">دینارو</div>
            <div class="description col-md-12">
                <i class="fa fa-map-marker icon"></i>پاسداران، بالا تر از برج سفید، نبش بوستان دهم
            </div>
            <div class="description col-md-12">
                <i class="fa fa-clock-o icon" style="font-weight: bold" aria-hidden="true"></i>ساعت سفارش گیری
            </div>
            <div class="work-hour col-md-12">
              <div>از 12:45 ظهر تا 10:45 شب</div>
              <div>همه روزه</div>
            </div>
        </div>
      </div>
    </div>
  </div>

</div>
