<div class="row my-container justify-content-md-center">
  <div class="col-md-12 img-holder">
    <img src="../../assets/pic/restaurantData.jpg" alt="" class="restaurant-banner">
  </div>
  <div class="col-md-12 justify-content-md-center cover-container row">
    <div class="restaurant-cover col-md-8  ">
      <div class="row centerizer justify-content-md-center">
        <div class="centerizer col-md-8">
          <img class="restaurant-icon" src="assets/pic/pizzahot.jpg">
        </div>
      </div>
      <div class="col-md-12 title-restaurant">
        {{ restaurantName }}
      </div>
      <div class="ratings-rate col-md-12">
        <div class="rating-rate-number"> {{ average_rate }}</div>
          <ngb-rating [(rate)]="average_rate" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
          <ng-template #t let-fill="fill">
            <span class="star" [class.full]="fill === 100">
              <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
            </span>
          </ng-template>
      </div>
      <div class="categories col-md-12">
        {{ categories }}
      </div>
      <div class="address col-md-12">
        {{ address }}
      </div>
    </div>
  </div>
  <div class="col-md-12 justify-content-md-center cover-container tabs-container row">
    <div class="col-md-8 justify-content-md-center cover-container tabs">
          <ul class="row justify-content-md-center" style="width: 100%; padding-left: 0px;">
            <li class="col-md-4 atags">
              <a class="active" href="#">نظرات کاربران</a>
            </li>
            <li class="col-md-4 atags">
              <a  href="#">اطلاعات رستوران</a>
            </li>
            <li class="col-md-4 atags">
              <a href="#">منوی رستوران</a>
            </li>
          </ul>
    </div>
  </div>
  
  <div class="col-md-12 justify-content-md-center cover-container row">
    <div class="col-md-8  ">
      <input placeholder="جستجو در منوی این رستوران"/>
    </div>
  </div>

  <div class="col-md-12 justify-content-md-center cover-container row">
    <div class="col-md-8  ">
      <div class="row padder justify-content-md-center">
        <div class="col-md-12 title">
          هات داگ
        </div>
          <div class="col-md-6 food-card">
              <div class="food-container">
                <div class="food-header">
                    <div class="price"> 26,800 هزار تومان</div>
                    <div class="name">هات داگ</div>
                </div>
                <div class="food-body row">
                  <img class="col-md-4 food-pic" src="../../assets/pic/hotdog.jpeg"/>
                  <div class="col-md-8 food-desc">
                    <div class="two-line-des">
                        هات داگ گوشت تازه ۹۰%، سس آلفردو، پیاز تازه، جعفری و پوره سیب زمینی
                    </div>
                    <div class="buy-btn">
                      <button>افزودن به سبد خرید</button>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="col-md-6 food-card">
              <div class="food-container">
                <div class="food-header">
                    <div class="price">26,800 هزار تومان</div>
                    <div class="name">هات داگ</div>
                </div>
                <div class="food-body row">
                  <img class="col-md-4 food-pic" src="../../assets/pic/hotdog.jpeg"/>
                  <div class="col-md-8 food-desc">
                    <div class="two-line-des">
                        هات داگ گوشت تازه ۹۰%، سس آلفردو، پیاز تازه، جعفری و پوره سیب زمینی
                    </div>
                    <div class="buy-btn">
                      <button>افزودن به سبد خرید</button>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="col-md-6 food-card">
              <div class="food-container">
                <div class="food-header">
                    <div class="price">26,800 هزار تومان</div>
                    <div class="name">هات داگ</div>
                </div>
                <div class="food-body row">
                  <img class="col-md-4 food-pic" src="../../assets/pic/hotdog.jpeg"/>
                  <div class="col-md-8 food-desc">
                    <div class="two-line-des">
                        هات داگ گوشت تازه ۹۰%، سس آلفردو، پیاز تازه، جعفری و پوره سیب زمینی
                    </div>
                    <div class="buy-btn">
                      <button>افزودن به سبد خرید</button>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        
    </div>
  </div>

  <div>
  </div>

</div>
