.my-container{
  margin: 0px;
}

.img-holder{
  padding: 0px;
}

.restaurant-banner{
  width: 100%;
}

.restaurant-cover{
  z-index: 100000;
  padding-right: 0px;
  padding-left: 0px;
  height: auto;
  padding-bottom: 100px;
  box-shadow: 0rem 1.7rem 1.4rem 0.8rem rgba(0,0,0,.1);
  margin-top: -200px;
}
a{
  white-space: nowrap;
}
.tabs{
  position: absolute;
  bottom: 50px;
  z-index: 100000000000;
}

.atags{
  text-align: center;
  min-width: 200px !important;
}

.cover-container{
  display: flex;
  justify-content: center;
}

.title{
  font-weight: 700;
  text-align: right;
  color: #202020;
  font-size: 22px;
  padding: 0px;
}
.title-restaurant{
  font-size: 3rem;
  font-weight: 700;
  color: #202020;
  text-align: center;
  background-color: white;
}

.ratings-rate{
  width:100%;
  text-align: center;
  justify-content: center;
  margin-right: 10px;
  margin-top: 0px;
  background-color: white;
}
.ratings-name-p{
  width:100%;
  text-align: right;
  justify-content: flex-end;
}
.rating-rate-fade{
  text-align: right;
  padding-right: 20px;
  padding-left: 20px;
}
.rating-rate-number{
  margin-right: 10px;
  align-self:center;
  color: #f9b92b;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  margin-right: 10px;
}
.star {
  position: relative;
  display: inline-block;
  font-size: 20px;
  color: #d3d3d3;
}
.full {
  color: #f9b92b;
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: #f9b92b;
}
.categories{
  font-size: 24px;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 700;
  background-color: white;
}
.tabs{
  /* margin-top: -45px; */
}

.centerizer{
  display: flex;
  justify-content: center;
}

.address{
  font-size: 24px;
  font-size: 1.5rem;
  color: #4a4a4a;
  font-style: normal;
  text-align: center;
  background-color: white;
}
.nav-item{
    text-align: center;
    color: #202020;
    font-size: 1.4rem;
    font-weight: 400;
}
.cover-container > ul {
  list-style: none;
  margin-left: 0px;
  margin-right: 0px;
}
.restaurant-icon{
  display: flex;
  justify-content: center;
  width: 130px;
  height: 130px;
}

.tabs-container{
  height: auto;
padding-bottom: 50px;
margin-right: 0px;
margin-left: 0px;
}

input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
  direction: rtl;
  width: 100%;
}
.food-header{
  display: flex;
  min-width: 200px;
  justify-content: space-between;
  margin-bottom: 10px;
}
.two-line-des{
  text-align: right;
  font-size: 1.2rem;
  color: #9b9b9b;
  max-height: 40px;
  overflow: hidden;
}
.buy-btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 34px;
  color: #d40062;
}
.buy-btn > button {
  border-radius: 5rem;
  background-color: white;
  border-width: 1px;
  border-color: #9b9b9b;
}
.buy-btn > button:hover{
  background-color: #d40062;
  color: white;
}
.icon-plus{
  margin-left: 10px;
}
.food-card{
  border-radius: 5px;
  padding: 10px;
}
.food-container{
  box-shadow: 0 .4rem .5rem 2px rgba(0,0,0,.05);
  border-radius: 5px;
  padding: 10px;
}
body{
  background-color: #fafafa;
}
.padder{
  padding: 20px;
  /* display: flex; */
  justify-content: center;
}
.food-pic{
  margin-bottom: 10px;
}
.price{
  direction: rtl;
}
.divider{
  height: 1px;
  background-color: grey;
  margin-top: 5px;
}
.description{
  direction: rtl;
  text-align: right;
  display: flex;
  flex-direction: row;
}
.icon{
  font-size: 18px;
  margin-left: 5px;
}
.work-hour{
  text-align: right;
  display: flex;
  flex-direction: row;
  border-bottom: solid gray 1px;
  justify-content: space-between;
}
.map-holder{
  padding: 10px;
}
.mapimg{
  width: 100%;
}
.title{
  margin-bottom: 10px;
}

.description{
  margin-bottom: 10px;
}
.first-row{
  display: flex;
  justify-content: space-between;
}
