<div class="row my-container justify-content-md-center">
  <div class="col-md-12 img-holder">
    <img src="../../assets/pic/restaurant-search-banner-2x.jpg" alt="" class="restaurant-banner">
  </div>
  <div class="col-md-10 available-restaurants">
      133 رستوران امکان سرویس دهی به تهران، حسین آباد (مبارک آباد)، را دارند.
  </div>
  <div class="divider col-md-12"></div>
  <div class="col-md-3"></div>
  <div class="col-md-7 search-holder">
    <input class="search-restaurant-big" placeholder="جستجو رستوران در این محدوده">
  </div>
  <div class="row margin-borders justify-content-md-center">
    <div class="col-md-9">
        <div class="col-md-4 restaurant-card">
            <div class="restaurant-items">
              <div class="row">
                <img class="restaurant-icons col-md-4" src="assets/pic/pizzahot.jpg">
                <div class="col-md-8 restaurant-items-detail">
                    <p class="ratings-name-p col-md-12">
                        باگت (اندرزگو)
                    </p>
                    <div class="ratings-rate col-md-12">
                        <div class="div-line"></div>
                        <div class="rating-rate-count">(81)</div>
                        <span class="fa fa-star-half-alt checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <div class="rating-rate-number">4.5</div>
                        <div class="div-line"></div>
                    </div>
                    <div class="restaurant-addr col-md-12">
                        فست فود • پیتزا • برگر • ساندویچ
                    </div>
                    <p class="rating-rate-fade col-md-12">
                        بلوار اندرزگو، بین کاوه و قیطریه، نبش مهرمحمدی
                    </p>
                </div>
              </div>
                <div class="row button-holder">
                  <button class="restaurant-button col-12">
                      شروع سفارش
                  </button>
                </div>
            </div>
        </div>
        <div class="col-md-4 restaurant-card">
            <div class="restaurant-items">
              <div class="row">
                <img class="restaurant-icons col-md-4" src="assets/pic/pizzahot.jpg">
                <div class="col-md-8 restaurant-items-detail">
                    <p class="ratings-name-p col-md-12">
                        باگت (اندرزگو)
                    </p>
                    <div class="ratings-rate col-md-12">
                        <div class="div-line"></div>
                        <div class="rating-rate-count">(81)</div>
                        <span class="fa fa-star-half-alt checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <div class="rating-rate-number">4.5</div>
                        <div class="div-line"></div>
                    </div>
                    <div class="restaurant-addr col-md-12">
                        فست فود • پیتزا • برگر • ساندویچ
                    </div>
                    <p class="rating-rate-fade col-md-12">
                        بلوار اندرزگو، بین کاوه و قیطریه، نبش مهرمحمدی
                    </p>
                </div>
              </div>
                <div class="row button-holder">
                  <button class="restaurant-button col-12">
                      شروع سفارش
                  </button>
                </div>
            </div>
        </div>
        <div class="col-md-4 restaurant-card">
            <div class="restaurant-items">
              <div class="row">
                <img class="restaurant-icons col-md-4" src="assets/pic/pizzahot.jpg">
                <div class="col-md-8 restaurant-items-detail">
                    <p class="ratings-name-p col-md-12">
                        باگت (اندرزگو)
                    </p>
                    <div class="ratings-rate col-md-12">
                        <div class="div-line"></div>
                        <div class="rating-rate-count">(81)</div>
                        <span class="fa fa-star-half-alt checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <div class="rating-rate-number">4.5</div>
                        <div class="div-line"></div>
                    </div>
                    <div class="restaurant-addr col-md-12">
                        فست فود • پیتزا • برگر • ساندویچ
                    </div>
                    <p class="rating-rate-fade col-md-12">
                        بلوار اندرزگو، بین کاوه و قیطریه، نبش مهرمحمدی
                    </p>
                </div>
              </div>
                <div class="row button-holder">
                  <button class="restaurant-button col-12">
                      شروع سفارش
                  </button>
                </div>
            </div>
          </div>
          <div class="col-md-4 restaurant-card">
              <div class="restaurant-items">
                <div class="row">
                  <img class="restaurant-icons col-md-4" src="assets/pic/pizzahot.jpg">
                  <div class="col-md-8 restaurant-items-detail">
                      <p class="ratings-name-p col-md-12">
                          باگت (اندرزگو)
                      </p>
                      <div class="ratings-rate col-md-12">
                          <div class="div-line"></div>
                          <div class="rating-rate-count">(81)</div>
                          <span class="fa fa-star-half-alt checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <div class="rating-rate-number">4.5</div>
                          <div class="div-line"></div>
                      </div>
                      <div class="restaurant-addr col-md-12">
                          فست فود • پیتزا • برگر • ساندویچ
                      </div>
                      <p class="rating-rate-fade col-md-12">
                          بلوار اندرزگو، بین کاوه و قیطریه، نبش مهرمحمدی
                      </p>
                  </div>
                </div>
                  <div class="row button-holder">
                    <button class="restaurant-button col-12">
                        شروع سفارش
                    </button>
                  </div>
              </div>
          </div>
          <div class="col-md-4 restaurant-card">
              <div class="restaurant-items">
                <div class="row">
                  <img class="restaurant-icons col-md-4" src="assets/pic/pizzahot.jpg">
                  <div class="col-md-8 restaurant-items-detail">
                      <p class="ratings-name-p col-md-12">
                          باگت (اندرزگو)
                      </p>
                      <div class="ratings-rate col-md-12">
                          <div class="div-line"></div>
                          <div class="rating-rate-count">(81)</div>
                          <span class="fa fa-star-half-alt checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <div class="rating-rate-number">4.5</div>
                          <div class="div-line"></div>
                      </div>
                      <div class="restaurant-addr col-md-12">
                          فست فود • پیتزا • برگر • ساندویچ
                      </div>
                      <p class="rating-rate-fade col-md-12">
                          بلوار اندرزگو، بین کاوه و قیطریه، نبش مهرمحمدی
                      </p>
                  </div>
                </div>
                  <div class="row button-holder">
                    <button class="restaurant-button col-12">
                        شروع سفارش
                    </button>
                  </div>
              </div>
          </div>
          <div class="col-md-4 restaurant-card">
              <div class="restaurant-items">
                <div class="row">
                  <img class="restaurant-icons col-md-4" src="assets/pic/pizzahot.jpg">
                  <div class="col-md-8 restaurant-items-detail">
                      <p class="ratings-name-p col-md-12">
                          باگت (اندرزگو)
                      </p>
                      <div class="ratings-rate col-md-12">
                          <div class="div-line"></div>
                          <div class="rating-rate-count">(81)</div>
                          <span class="fa fa-star-half-alt checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <div class="rating-rate-number">4.5</div>
                          <div class="div-line"></div>
                      </div>
                      <div class="restaurant-addr col-md-12">
                          فست فود • پیتزا • برگر • ساندویچ
                      </div>
                      <p class="rating-rate-fade col-md-12">
                          بلوار اندرزگو، بین کاوه و قیطریه، نبش مهرمحمدی
                      </p>
                  </div>
                </div>
                  <div class="row button-holder">
                    <button class="restaurant-button col-12">
                        شروع سفارش
                    </button>
                  </div>
              </div>
          </div>
          <div class="col-md-4 restaurant-card">
              <div class="restaurant-items">
                <div class="row">
                  <img class="restaurant-icons col-md-4" src="assets/pic/pizzahot.jpg">
                  <div class="col-md-8 restaurant-items-detail">
                      <p class="ratings-name-p col-md-12">
                          باگت (اندرزگو)
                      </p>
                      <div class="ratings-rate col-md-12">
                          <div class="div-line"></div>
                          <div class="rating-rate-count">(81)</div>
                          <span class="fa fa-star-half-alt checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <div class="rating-rate-number">4.5</div>
                          <div class="div-line"></div>
                      </div>
                      <div class="restaurant-addr col-md-12">
                          فست فود • پیتزا • برگر • ساندویچ
                      </div>
                      <p class="rating-rate-fade col-md-12">
                          بلوار اندرزگو، بین کاوه و قیطریه، نبش مهرمحمدی
                      </p>
                  </div>
                </div>
                  <div class="row button-holder">
                    <button class="restaurant-button col-12">
                        شروع سفارش
                    </button>
                  </div>
              </div>
          </div>
          <div class="col-md-4 restaurant-card">
              <div class="restaurant-items">
                <div class="row">
                  <img class="restaurant-icons col-md-4" src="assets/pic/pizzahot.jpg">
                  <div class="col-md-8 restaurant-items-detail">
                      <p class="ratings-name-p col-md-12">
                          باگت (اندرزگو)
                      </p>
                      <div class="ratings-rate col-md-12">
                          <div class="div-line"></div>
                          <div class="rating-rate-count">(81)</div>
                          <span class="fa fa-star-half-alt checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <div class="rating-rate-number">4.5</div>
                          <div class="div-line"></div>
                      </div>
                      <div class="restaurant-addr col-md-12">
                          فست فود • پیتزا • برگر • ساندویچ
                      </div>
                      <p class="rating-rate-fade col-md-12">
                          بلوار اندرزگو، بین کاوه و قیطریه، نبش مهرمحمدی
                      </p>
                  </div>
                </div>
                  <div class="row button-holder">
                    <button class="restaurant-button col-12">
                        شروع سفارش
                    </button>
                  </div>
              </div>
          </div>
          <div class="col-md-4 restaurant-card">
              <div class="restaurant-items">
                <div class="row">
                  <img class="restaurant-icons col-md-4" src="assets/pic/pizzahot.jpg">
                  <div class="col-md-8 restaurant-items-detail">
                      <p class="ratings-name-p col-md-12">
                          باگت (اندرزگو)
                      </p>
                      <div class="ratings-rate col-md-12">
                          <div class="div-line"></div>
                          <div class="rating-rate-count">(81)</div>
                          <span class="fa fa-star-half-alt checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <div class="rating-rate-number">4.5</div>
                          <div class="div-line"></div>
                      </div>
                      <div class="restaurant-addr col-md-12">
                          فست فود • پیتزا • برگر • ساندویچ
                      </div>
                      <p class="rating-rate-fade col-md-12">
                          بلوار اندرزگو، بین کاوه و قیطریه، نبش مهرمحمدی
                      </p>
                  </div>
                </div>
                  <div class="row button-holder">
                    <button class="restaurant-button col-12">
                        شروع سفارش
                    </button>
                  </div>
              </div>
          </div>
</div>
  <div class="col-md-3">
    <div class="filter-list row justify-content-md-center">
        <div class="title col-md-12">
            فیلتر بر اساس انواع غذا
        </div>
        <div class="divider col-md-12"></div>
        <div class="search-holder">
            <input class="search-restaurant col-md-10" placeholder="جستجو دسته بندی غذاها">
        </div>
        <div class="custom-control custom-checkbox col-md-12 checkbox-holder">
          <label class="custom-control-label checkbox-label" for="customCheck1">ساندویچ</label>
          <input type="checkbox" class="custom-control-input box" id="customCheck1">
        </div>
        <div class="custom-control custom-checkbox col-md-12 checkbox-holder">
          <label class="custom-control-label checkbox-label" for="customCheck1">ساندویچ</label>
          <input type="checkbox" class="custom-control-input box" id="customCheck1">
        </div>
        <div class="custom-control custom-checkbox col-md-12 checkbox-holder">
          <label class="custom-control-label checkbox-label" for="customCheck1">ساندویچ</label>
          <input type="checkbox" class="custom-control-input box" id="customCheck1">
        </div>
      </div>
  </div>
</div>
</div>
