<div class="row my-container justify-content-md-center">
  <div class="col-md-12 img-holder">
    <img src="../../assets/pic/restaurant-search-banner-2x.jpg" alt="" class="restaurant-banner">
  </div>
  <div class="col-md-10 available-restaurants">
      {{ restaurantNum }} رستوران امکان سرویس دهی به {{restaurantCity}}، {{restaurantArea}} را دارند.
  </div>
  <div class="divider col-md-12"></div>
  <div class="col-md-3"></div>
  <div class="col-md-7 search-holder">
    <input class="search-restaurant-big" [(ngModel)]="restaurantSearchValue" (change)="restaurantSearch($event)" placeholder="جستجو رستوران در این محدوده">
  </div>
  <div class="row margin-borders justify-content-md-center">
    <div class="col-md-9 row">
        <div *ngFor="let restaurant of restaurantList.openRestaurants" [attr.id]="restaurant.name" class="col-md-4 restaurant-card">
            <div class="restaurant-items">
              <div class="row justify-content-md-center">
                <img class="restaurant-icons col-md-4" [attr.src]="restaurant.logo">
                <div class="col-md-8 restaurant-items-detail">
                    <p class="ratings-name-p col-md-12">
                        {{ restaurant.name }}
                    </p>
                    <div class="ratings-rate col-md-12">
                        <div class="rating-rate-number"> {{ restaurant.average_rate }}</div>
                        <ngb-rating [(rate)]="restaurant.average_rate" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
                        <ng-template #t let-fill="fill">
                          <span class="star" [class.full]="fill === 100">
                            <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                          </span>
                        </ng-template>
                    </div>
                    <div class="restaurant-addr col-md-12">
                        {{ restaurant.categories }}
                    </div>
                    <p class="rating-rate-fade col-md-12">
                        {{ restaurant.address }}
                    </p>
                </div>
              </div>
              <div class="row button-holder align-items-end">
                <button class="restaurant-button col-12">
                    شروع سفارش
                </button>
              </div>
              </div>
          </div>
          <div class="col-md-12 closed-title">رستوران های بسته</div>
          <div *ngFor="let restaurant of restaurantList.closeRestaurants" [attr.id]="restaurant.name" class="col-md-4 restaurant-card-close">
            <div class="restaurant-items-close">
              <div class="row justify-content-md-center">
                <img class="restaurant-icons col-md-4" [attr.src]="restaurant.logo">
                <div class="col-md-8 restaurant-items-detail">
                    <p class="ratings-name-p col-md-12">
                        {{ restaurant.name }}
                    </p>
                    <div class="ratings-rate col-md-12">
                        <div class="rating-rate-number"> {{ restaurant.average_rate }}</div>
                        <ngb-rating [(rate)]="restaurant.average_rate" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
                        <ng-template #t let-fill="fill">
                          <span class="star" [class.full]="fill === 100">
                            <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                          </span>
                        </ng-template>
                    </div>
                    <div class="restaurant-addr col-md-12">
                        {{ restaurant.categories }}
                    </div>
                    <p class="rating-rate-fade col-md-12">
                        {{ restaurant.address }}
                    </p>
                </div>
              </div>
              <div class="row button-holder-close align-items-end">
                <button class="restaurant-button-close col-12">
                   شروع سفارش از {{ restaurant.opening_time - restaurantList.hour}} ساعت
                </button>
              </div>
              </div>
          </div>
</div>
  <div class="col-md-3">
    <div class="filter-list row justify-content-md-center">
        <div class="title col-md-12">
            فیلتر بر اساس انواع غذا
        </div>
        <div class="divider col-md-12"></div>
        <div class="search-holder">
            <input [(ngModel)]="filterSearchValue" (change)="filterSearch($event)" class="search-restaurant col-md-10" placeholder="جستجو دسته بندی غذاها">
        </div>
        <div *ngFor="let category of restaurantList.categories" [attr.id]="category.name" class="custom-control custom-checkbox col-md-12 checkbox-holder">
          <label class="custom-control-label checkbox-label" for="customCheck1"> {{ category.name }} </label>
          <input type="checkbox" [attr.name]="category.name" [(ngModel)]="checkBoxValue[category.id]" (change)="filters($event)" class="custom-control-input box" id="category.id">
        </div>
      </div>
  </div>
</div>
</div>
