@font-face {
    font-family: "Yekan";
    src: url("fonts/BYekan.ttf");
}

body {
    margin: 0px;
    font-family: "Yekan";
}

.topnav {
    overflow: hidden;
}

.topnav img {
    width: 120px;
    height: 40px;
    position: absolute;
    margin-left: 700px;
}

.border-nav {
    background: gray;
    margin-top: 50px;
    height: 1px;
    width: 100%;
}


.container {
    width: 50%;
    margin-left: 37%;
  }
  
  ul li {
    display: inline;
    text-align: center;
  }
  button > i {
   margin-left: 10px;
  }
  li > button {
    display: inline-block;
    width: 20%;
    padding: .75rem 0;
    margin: 0;
    text-decoration: none;
    color: #333;
    background-color: transparent;
    border:none !important;
}
li > button:focus {
    outline: none !important;
}
  
  .one:hover ~ hr {
    margin-left: 0% !important;
    color:black !important;
  }
  
  .one:hover > button {
    color:black !important;
  }

  .two:hover ~ hr {
      margin-left: 20% !important;
        color:black !important;
  }
  .two:hover > button {
      color:black !important;
  }
  
  hr {
    height: .25rem;
    width: 20%;
    margin-left: 0%;
    background: #c9399a;
    border: none;
  }


  .notchecked{
    color:gray;
    }


  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #c9399a;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }


.header-tor {
    background-color: rgb(230, 230, 230);
    width: 100%;
    height: 500px;
    margin-top: -16px;
}

.header-tor div.first {
    text-align: center;
    color: gray;
    font-weight: bold;
    padding-top: 80px;
    font-size: 18px;
}

.header-tor div.second {
    text-align: center;
    color: gray;
    margin-top: 20px;
    font-size: 16px;
    margin-bottom: 50px;
}

  .input-long {
    width: 100%;
    height: 40px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.input-short {
    width: 100%;
    height: 40px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.input-long-input {
    width: 500px;
    height: 40px;
    font-family: "Yekan";
    direction: rtl;
    border-width: 0px;
}

.forgot-password{
    width:500px;
    margin-left: 47%;
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
    color: #5890FF;
}

.input-short-input-first {
    width: 220px;
    height: 40px;
    font-family: "Yekan";
    direction: rtl;
    border-width: 0px;
}

.input-short-input-second {
    margin-left: 10px;
    width: 220px;
    height: 40px;
    font-family: "Yekan";
    direction: rtl;
    border-width: 0px;
}

.fa-for-input {
    height: 25px;
    width: 25px;
    font-size: 12px;
    color: gray;
    padding-top: 15px;
    background-color: white;
    padding-left: 25px;
}

.register-btn{
    width: 5%;
    height:30px;
    color:white;
    background-color: #c9399a;
    border-radius: 15px;
    margin-left: 47.5%;
    margin-top: 30px;

}
.register-footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: white;
    height:100px;
    margin-top: 40px;
}
.first-footer-icon1 {
    margin-top: 40px;
    margin-left: 40%;
    height:25px;
    font-size: 18px;
    padding-left: 10px;
    padding-top: 5px;
    border-radius: 15px;
    color:white;
    width: 20px;
    background-color: gray;
}
.first-footer-icon2 {
    margin-top: 40px;
    margin-left: 4%;
    height:25px;
    font-size: 18px;
    padding-left: 7px;
    padding-top: 5px;
    border-radius: 15px;
    color:white;
    width: 23px;
    background-color: gray;
}
.first-footer-icon3 {
    margin-top: 40px;
    margin-left: 4%;
    height:25px;
    font-size: 18px;
    padding-left: 6px;
    padding-top: 5px;
    border-radius: 15px;
    color:white;
    width: 24px;
    background-color: gray;
}
.first-footer-icon4 {
    margin-top: 40px;
    margin-left: 4%;
    height:25px;
    font-size: 18px;
    padding-left: 8px;
    padding-top: 5px;
    border-radius: 15px;
    color:white;
    width: 22px;
    background-color: gray;
}
.first-footer-icon5 {
    margin-top: 40px;
    margin-left: 4%;
    height:25px;
    font-size: 18px;
    padding-left: 6px;
    padding-top: 5px;
    border-radius: 15px;
    color:white;
    width: 24px;
    background-color: gray;
}
.register-footer-list{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 20px;
    padding: 10px 130px;
    background-color: white;
}
.footer-items{
    padding-top: 10px;
    text-align: center;
    color: gray;
    font-size: 14px;
}
.footer-divider{
    width: 100%;
    height:1px;
    background-color: lightgray;
}