<app-home-search></app-home-search>
<div class="my-container">
  <div class="howItWorks">
      <div>
          غذایتان را نوش جان کنید
          <div class="howItWorks-items">
              <img src="../../assets/pic/REYHOON.png">
              <div class="howItWorks-icon-border"><i class="fa fa-history howItWorks-icon-fa"></i></div>
              <p>
              درب منزل یا حضوری از خود رستوران سفارشتان را تحویل بگیرید.
              </p>
          </div>
      </div>
      <div>
          غذای خود را انتخاب کنید
          <div class="howItWorks-items">
              <img src="../../assets/pic/REYHOON.png">
              <div class="howItWorks-icon-border"><i class="fa fa-history howItWorks-icon-fa"></i></div>
              <p>
              غذایی که می خواهید را انتخاب کنبد و بدون هزینه اضافی سفارش خود را ثبت کنید.
              </p>
          </div>
      </div>
      <div>
          شهر و منطقه ی خود را وارد کنید
          <div class="howItWorks-items">
              <img src="../../assets/pic/REYHOON.png">
              <div class="howItWorks-icon-border"><i class="fa fa-history howItWorks-icon-fa"></i></div>
              <p>
              منوی مورد علاقه ی خود را از بین بیش از 3500 رستوران خوب در تهران و شهرستان ها جستجو کنید.
              </p>
          </div>
      </div>
  </div>

  <p class="container-mid">
      رستوران ها و فست فود های برتر ماه بر اساس امتیازدهی کاربران
  </p>

  <div class="ratings" id="ratings-ajax-json">
      <!-- JQUERRY -->
  </div>
</div>
<div class="best">
  <div class="best-upper-text">
      رستوران های خوب تهران در ریحون
  </div>
  <div class="best-grid" id="best-grid-ajax-json">
      <!-- JQUERY -->
  </div>
</div>

<div class="container-food">
  <div class="container-food-first">
      غذا چی میل دارید؟
  </div>
  <div class="container-food-second">
      صبحانه، ناهار، شام یا هرچیزی که میل دارید را انتخاب کنید
  </div>
  <div class="choose-grid" id = "choose-grid-ajax-xml">
      <!-- JQUERRY -->
  </div>
  <div class="container-food-second">
      انتخاب غذاهای بیشتر
  </div>
  <div id = "eight-col-ajax-xml">
      <!-- JQUERRY -->
  </div>
</div>

